div#tooltip {
  border: 1px solid black;
  position: absolute;
  text-align: center;
  width: 60px;
  height: fit-content;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

h1, p {
  text-align: center;
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  clear: both;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.legend-box {
  margin: 5px auto 10px auto;
  width: 10%;
}
